<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork865-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

**Navigate to the Go to UI screen** 

* Refer to this insruction in this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sign%20up%20for%20IBM%20Cloud%20-%20Create%20Db2%20service%20instance%20-%20Get%20started%20with%20the%20Db2%20console/instructional-labs.md.html">link</a> for viewing  the   Go to UI screen. 


* Later click on **Data link(below SQL)**  in the Go to UI screen  and click on **Load Data** tab.  



* Later browse for the downloaded spacex file.



<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/browsefile.png" width="800">


* Once done select the schema andload the file.  


 <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload3.png" width="800">


If you are facing a problem in uploading the dataset (which is a csv file), you can follow the steps below to upload the .sql file instead of the CSV file:

* Download the file <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/datasets/Spacex%20.sql">Spacex.sql</a>

* Later click on **SQL** in the  **Go to UI Screen**.

* Use the **From file** option to browse for the **SQL** file and upload it.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/sqlfile.png">

* Once you upload the script,you can use the **Run All** option to run all the queries to insert the data.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/runall.png">

In [1]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa
!pip install ipython-sql

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ---------------------------------------- 6.0/6.0 MB 6.9 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py): started
  Building wheel for sqlalchemy (setup.py): finished with status 'done'
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp39-cp39-win_amd64.whl size=1163380 sha256=5119f0a6e3a415aae34c86831d0087d3fb6052cca4a4a78c767371729edee575
  Stored in directory: c:\users\ronaknandanwar\appdata\local\pip\cache\wheels\5b\43\0d\de1699809f9e6aaa54a97275298fa07075cb19acc557b18955
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.39
    Uninstalling SQLAlchemy-1.4.39:
      Successfully uninstalled SQLAlchemy-1.4.39
Successfully installed sqlalchemy-1.3.9
Collecting ibm_db_sa
  Downloading ibm_db_sa-0.3.9-py3-none-any.whl (30 kB)
Collecting ibm-db>=2.0.0
  Downloading ibm_db-3.1.4.tar.gz (1.4 MB)
     ---------------------------------------- 1.4/1.4 MB 2.8 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Installing backend dependencies: started
  Installing backend dependencies: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: sqlalchemy>=0.7.3 in c:\users\ronaknandanwar\anaconda3\lib\site-packages (from ibm_db_sa) (1.3.9)
Building wheels for collected packages: ibm-db
  Building wheel for ibm-db (pyproject.toml): started
  Building wheel for ibm-db (pyproject.toml): finished with status 'done'
  Created wheel for ibm-db: filename=ibm_db-3.1.4-py3-none-any.whl size=27751683 sha256=1fffe524d53da7321eba20aa44a9601a848ae327f8a358f0ad0fed4f90d841a5
  Stored in directory: c:\users\ronaknandanwar\appdata\local\pip\cache\wheels\7b\2d\a5\26b4ad8bcc66c7e90efe5c8a6e20c26d5327ff82161e6b1490
Successfully built ibm-db
Installing collected packages: ibm-db, ibm_db_sa
Successfully installed ibm-db-3.1.4 ibm_db_sa-0.3.9
Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Requirement already satisfied: six in c:\users\ronaknandanwar\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython in c:\users\ronaknandanwar\anaconda3\lib\site-packages (from ipython-sql) (7.31.1)
Collecting sqlparse
  Downloading sqlparse-0.4.3-py3-none-any.whl (42 kB)
     -------------------------------------- 42.8/42.8 kB 207.2 kB/s eta 0:00:00
Requirement already satisfied: ipython-genutils in c:\users\ronaknandanwar\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Collecting prettytable
  Downloading prettytable-3.6.0-py3-none-any.whl (27 kB)
Collecting sqlalchemy>=2.0
  Downloading SQLAlchemy-2.0.7-cp39-cp39-win_amd64.whl (2.0 MB)
     ---------------------------------------- 2.0/2.0 MB 7.3 MB/s eta 0:00:00
Requirement already satisfied: greenlet!=0.4.17 in c:\users\ronaknandanwar\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (1.1.1)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\ronaknandanwar\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.3.0)
Requirement already satisfied: pickleshare in c:\users\ronaknandanwar\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\ronaknandanwar\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.20)
Requirement already satisfied: decorator in c:\users\ronaknandanwar\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: colorama in c:\users\ronaknandanwar\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.5)
Requirement already satisfied: pygments in c:\users\ronaknandanwar\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.11.2)
Requirement already satisfied: setuptools>=18.5 in c:\users\ronaknandanwar\anaconda3\lib\site-packages (from ipython->ipython-sql) (63.4.1)
Requirement already satisfied: jedi>=0.16 in c:\users\ronaknandanwar\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\ronaknandanwar\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: traitlets>=4.2 in c:\users\ronaknandanwar\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: backcall in c:\users\ronaknandanwar\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in c:\users\ronaknandanwar\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\ronaknandanwar\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Installing collected packages: sqlparse, sqlalchemy, prettytable, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed ipython-sql-0.5.0 prettytable-3.6.0 sqlalchemy-2.0.7 sqlparse-0.4.3

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [21]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql




**DB2 magic in case of  UI service credentials.**



<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/servicecredentials.png" width="600">  

* Use the following format.

* Add security=SSL at the end

**%sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name?security=SSL**

In [22]:
!pip install sqlalchemy==1.3.23 --user

Requirement already satisfied: sqlalchemy==1.3.23 in c:\users\ronaknandanwar\anaconda3\lib\site-packages (1.3.23)

In [27]:
import sqlalchemy
from sqlalchemy import create_engine
import urllib.parse

username = "zpf73963"
password = "9B14HP1LBUCcEfka"
host = "764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud"
port = "32536"
database = "bludb"

conn_str = "db2+ibm_db://{0}:{1}@{2}:{3}/{4}".format(
    username, password, host, port, database
)

engine = sqlalchemy.create_engine(conn_str)
conn = engine.connect()
conn
# result = conn.execute("SELECT * FROM my_table")
# for row in result:
#     print(row)

# conn.close()

AttributeError: type object 'String' has no attribute 'RETURNS_CONDITIONAL'

In [24]:
import sqlalchemy

# Replace the placeholders with your actual values
username = "zpf73963"
password = "9B14HP1LBUCcEfka"
hostname = "764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud"
port = "32536"
database = "bludb"

# Construct the connection string
conn_str = f"ibm_db_sa://{username}:{password}@{hostname}:{port}/{database}?security=SSL"
print(conn_str)
# Create the engine and connect to the database
engine = sqlalchemy.create_engine(conn_str)
conn = engine.connect()

ibm_db_sa://zpf73963:9B14HP1LBUCcEfka@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb?security=SSL

AttributeError: type object 'String' has no attribute 'RETURNS_CONDITIONAL'

In [26]:
%sql ibm_db_sa://zpf73963:9B14HP1LBUCcEfka@764264db-9824-

Traceback (most recent call last):
  File "C:\Users\RonakNandanwar\anaconda3\lib\site-packages\sql\connection.py", line 45, in __init__
    engine = sqlalchemy.create_engine(
  File "<string>", line 2, in create_engine
  File "C:\Users\RonakNandanwar\anaconda3\lib\site-packages\sqlalchemy\util\deprecations.py", line 277, in warned
  File "C:\Users\RonakNandanwar\anaconda3\lib\site-packages\sqlalchemy\engine\create.py", line 551, in create_engine
  File "C:\Users\RonakNandanwar\anaconda3\lib\site-packages\sqlalchemy\engine\url.py", line 754, in _get_entrypoint
  File "C:\Users\RonakNandanwar\anaconda3\lib\site-packages\sqlalchemy\util\langhelpers.py", line 352, in load
  File "C:\Users\RonakNandanwar\anaconda3\lib\importlib\metadata.py", line 86, in load
    module = import_module(match.group('module'))
  File "C:\Users\RonakNandanwar\anaconda3\lib\importlib\__init__.py", line 127, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "<frozen importlib._bootstrap>", line 1030, in _gcd_import
  File "<frozen importlib._bootstrap>", line 1007, in _find_and_load
  File "<frozen importlib._bootstrap>", line 972, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 228, in _call_with_frames_removed
  File "<frozen importlib._bootstrap>", line 1030, in _gcd_import
  File "<frozen importlib._bootstrap>", line 1007, in _find_and_load
  File "<frozen importlib._bootstrap>", line 986, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 680, in _load_unlocked
  File "<frozen importlib._bootstrap_external>", line 850, in exec_module
  File "<frozen importlib._bootstrap>", line 228, in _call_with_frames_removed
  File "C:\Users\RonakNandanwar\anaconda3\lib\site-packages\ibm_db_sa\__init__.py", line 22, in <module>
    from . import ibm_db, pyodbc, base
  File "C:\Users\RonakNandanwar\anaconda3\lib\site-packages\ibm_db_sa\ibm_db.py", line 20, in <module>
    from .base import DB2ExecutionContext, DB2Dialect
  File "C:\Users\RonakNandanwar\anaconda3\lib\site-packages\ibm_db_sa\base.py", line 662, in <module>
    class DB2Dialect(default.DefaultDialect):
  File "C:\Users\RonakNandanwar\anaconda3\lib\site-packages\ibm_db_sa\base.py", line 675, in DB2Dialect
    returns_unicode_strings = sa_types.String.RETURNS_CONDITIONAL
AttributeError: type object 'String' has no attribute 'RETURNS_CONDITIONAL'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
Traceback (most recent call last):
  File "C:\Users\RonakNandanwar\anaconda3\lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
  File "C:\Users\RonakNandanwar\anaconda3\lib\site-packages\sql\connection.py", line 70, in set
    cls.current = existing or Connection(descriptor, connect_args, creator)
  File "C:\Users\RonakNandanwar\anaconda3\lib\site-packages\sql\connection.py", line 45, in __init__
    engine = sqlalchemy.create_engine(
  File "<string>", line 2, in create_engine
  File "C:\Users\RonakNandanwar\anaconda3\lib\site-packages\sqlalchemy\util\deprecations.py", line 277, in warned
  File "C:\Users\RonakNandanwar\anaconda3\lib\site-packages\sqlalchemy\engine\create.py", line 551, in create_engine
  File "C:\Users\RonakNandanwar\anaconda3\lib\site-packages\sqlalchemy\engine\url.py", line 754, in _get_entrypoint
  File "C:\Users\RonakNandanwar\anaconda3\lib\site-packages\sqlalchemy\util\langhelpers.py", line 352, in load
  File "C:\Users\RonakNandanwar\anaconda3\lib\importlib\metadata.py", line 86, in load
    module = import_module(match.group('module'))
  File "C:\Users\RonakNandanwar\anaconda3\lib\importlib\__init__.py", line 127, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "<frozen importlib._bootstrap>", line 1030, in _gcd_import
  File "<frozen importlib._bootstrap>", line 1007, in _find_and_load
  File "<frozen importlib._bootstrap>", line 972, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 228, in _call_with_frames_removed
  File "<frozen importlib._bootstrap>", line 1030, in _gcd_import
  File "<frozen importlib._bootstrap>", line 1007, in _find_and_load
  File "<frozen importlib._bootstrap>", line 986, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 680, in _load_unlocked
  File "<frozen importlib._bootstrap_external>", line 850, in exec_module
  File "<frozen importlib._bootstrap>", line 228, in _call_with_frames_removed
  File "C:\Users\RonakNandanwar\anaconda3\lib\site-packages\ibm_db_sa\__init__.py", line 22, in <module>
    from . import ibm_db, pyodbc, base
  File "C:\Users\RonakNandanwar\anaconda3\lib\site-packages\ibm_db_sa\ibm_db.py", line 20, in <module>
    from .base import DB2ExecutionContext, DB2Dialect
  File "C:\Users\RonakNandanwar\anaconda3\lib\site-packages\ibm_db_sa\base.py", line 662, in <module>
    class DB2Dialect(default.DefaultDialect):
  File "C:\Users\RonakNandanwar\anaconda3\lib\site-packages\ibm_db_sa\base.py", line 675, in DB2Dialect
    returns_unicode_strings = sa_types.String.RETURNS_CONDITIONAL
AttributeError: type object 'String' has no attribute 'RETURNS_CONDITIONAL'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [25]:
%sql ibm_db_sa://zpf73963:9B14HP1LBUCcEfka@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb?security=SSL

Traceback (most recent call last):
  File "C:\Users\RonakNandanwar\anaconda3\lib\site-packages\sql\connection.py", line 45, in __init__
    engine = sqlalchemy.create_engine(
  File "<string>", line 2, in create_engine
  File "C:\Users\RonakNandanwar\anaconda3\lib\site-packages\sqlalchemy\util\deprecations.py", line 277, in warned
  File "C:\Users\RonakNandanwar\anaconda3\lib\site-packages\sqlalchemy\engine\create.py", line 551, in create_engine
  File "C:\Users\RonakNandanwar\anaconda3\lib\site-packages\sqlalchemy\engine\url.py", line 754, in _get_entrypoint
  File "C:\Users\RonakNandanwar\anaconda3\lib\site-packages\sqlalchemy\util\langhelpers.py", line 352, in load
  File "C:\Users\RonakNandanwar\anaconda3\lib\importlib\metadata.py", line 86, in load
    module = import_module(match.group('module'))
  File "C:\Users\RonakNandanwar\anaconda3\lib\importlib\__init__.py", line 127, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "<frozen importlib._bootstrap>", line 1030, in _gcd_import
  File "<frozen importlib._bootstrap>", line 1007, in _find_and_load
  File "<frozen importlib._bootstrap>", line 972, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 228, in _call_with_frames_removed
  File "<frozen importlib._bootstrap>", line 1030, in _gcd_import
  File "<frozen importlib._bootstrap>", line 1007, in _find_and_load
  File "<frozen importlib._bootstrap>", line 986, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 680, in _load_unlocked
  File "<frozen importlib._bootstrap_external>", line 850, in exec_module
  File "<frozen importlib._bootstrap>", line 228, in _call_with_frames_removed
  File "C:\Users\RonakNandanwar\anaconda3\lib\site-packages\ibm_db_sa\__init__.py", line 22, in <module>
    from . import ibm_db, pyodbc, base
  File "C:\Users\RonakNandanwar\anaconda3\lib\site-packages\ibm_db_sa\ibm_db.py", line 20, in <module>
    from .base import DB2ExecutionContext, DB2Dialect
  File "C:\Users\RonakNandanwar\anaconda3\lib\site-packages\ibm_db_sa\base.py", line 662, in <module>
    class DB2Dialect(default.DefaultDialect):
  File "C:\Users\RonakNandanwar\anaconda3\lib\site-packages\ibm_db_sa\base.py", line 675, in DB2Dialect
    returns_unicode_strings = sa_types.String.RETURNS_CONDITIONAL
AttributeError: type object 'String' has no attribute 'RETURNS_CONDITIONAL'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
Traceback (most recent call last):
  File "C:\Users\RonakNandanwar\anaconda3\lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
  File "C:\Users\RonakNandanwar\anaconda3\lib\site-packages\sql\connection.py", line 70, in set
    cls.current = existing or Connection(descriptor, connect_args, creator)
  File "C:\Users\RonakNandanwar\anaconda3\lib\site-packages\sql\connection.py", line 45, in __init__
    engine = sqlalchemy.create_engine(
  File "<string>", line 2, in create_engine
  File "C:\Users\RonakNandanwar\anaconda3\lib\site-packages\sqlalchemy\util\deprecations.py", line 277, in warned
  File "C:\Users\RonakNandanwar\anaconda3\lib\site-packages\sqlalchemy\engine\create.py", line 551, in create_engine
  File "C:\Users\RonakNandanwar\anaconda3\lib\site-packages\sqlalchemy\engine\url.py", line 754, in _get_entrypoint
  File "C:\Users\RonakNandanwar\anaconda3\lib\site-packages\sqlalchemy\util\langhelpers.py", line 352, in load
  File "C:\Users\RonakNandanwar\anaconda3\lib\importlib\metadata.py", line 86, in load
    module = import_module(match.group('module'))
  File "C:\Users\RonakNandanwar\anaconda3\lib\importlib\__init__.py", line 127, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "<frozen importlib._bootstrap>", line 1030, in _gcd_import
  File "<frozen importlib._bootstrap>", line 1007, in _find_and_load
  File "<frozen importlib._bootstrap>", line 972, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 228, in _call_with_frames_removed
  File "<frozen importlib._bootstrap>", line 1030, in _gcd_import
  File "<frozen importlib._bootstrap>", line 1007, in _find_and_load
  File "<frozen importlib._bootstrap>", line 986, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 680, in _load_unlocked
  File "<frozen importlib._bootstrap_external>", line 850, in exec_module
  File "<frozen importlib._bootstrap>", line 228, in _call_with_frames_removed
  File "C:\Users\RonakNandanwar\anaconda3\lib\site-packages\ibm_db_sa\__init__.py", line 22, in <module>
    from . import ibm_db, pyodbc, base
  File "C:\Users\RonakNandanwar\anaconda3\lib\site-packages\ibm_db_sa\ibm_db.py", line 20, in <module>
    from .base import DB2ExecutionContext, DB2Dialect
  File "C:\Users\RonakNandanwar\anaconda3\lib\site-packages\ibm_db_sa\base.py", line 662, in <module>
    class DB2Dialect(default.DefaultDialect):
  File "C:\Users\RonakNandanwar\anaconda3\lib\site-packages\ibm_db_sa\base.py", line 675, in DB2Dialect
    returns_unicode_strings = sa_types.String.RETURNS_CONDITIONAL
AttributeError: type object 'String' has no attribute 'RETURNS_CONDITIONAL'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [7]:
!pip install SQLAlchemy==1.4.0

Collecting SQLAlchemy==1.4.0
  Downloading SQLAlchemy-1.4.0-cp39-cp39-win_amd64.whl (1.5 MB)
     ---------------------------------------- 1.5/1.5 MB 6.2 MB/s eta 0:00:00
Requirement already satisfied: greenlet!=0.4.17 in c:\users\ronaknandanwar\anaconda3\lib\site-packages (from SQLAlchemy==1.4.0) (1.1.1)
Installing collected packages: SQLAlchemy
  Attempting uninstall: SQLAlchemy
    Found existing installation: SQLAlchemy 1.2.19
    Uninstalling SQLAlchemy-1.2.19:
      Successfully uninstalled SQLAlchemy-1.2.19

ERROR: Could not install packages due to an OSError: [WinError 5] Access is denied: 'C:\\Users\\RonakNandanwar\\anaconda3\\Lib\\site-packages\\~~lalchemy\\cprocessors.cp39-win_amd64.pyd'
Consider using the `--user` option or check the permissions.

In [24]:
import pandas as pd
import time
time.clock = time.time
from pandasql import sqldf
df = pd.read_csv('Spacex.csv')

In [2]:
pysqldf = lambda q: sqldf(q, globals())
pysqldf

In [28]:
df.head()

,Date,Time_(UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,04-06-2010,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,08-12-2010,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,22-05-2012,07:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,08-10-2012,00:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,01-03-2013,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

In [27]:
df.columns = ['Date', 'Time_(UTC)', 'Booster_Version', 'Launch_Site', 'Payload',
       'PAYLOAD_MASS__KG_', 'Orbit', 'Customer', 'Mission_Outcome',
       'Landing_Outcome']

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [4]:
pysqldf('select distinct Launch_Site from df')

    Launch_Site
0   CCAFS LC-40
1   VAFB SLC-4E
2    KSC LC-39A
3  CCAFS SLC-40


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [6]:
pysqldf("select * from df where Launch_Site like 'CCA%' limit 5")

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing _Outcome
0,04-06-2010,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,08-12-2010,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,22-05-2012,07:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,08-10-2012,00:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,01-03-2013,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [7]:
pysqldf("select sum(PAYLOAD_MASS__KG_) from df where Customer='NASA (CRS)'")

   sum(PAYLOAD_MASS__KG_)
0                   45596

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [37]:
pysqldf("select avg(PAYLOAD_MASS__KG_) from df where Booster_Version like 'F9 v1.1%'")

   avg(PAYLOAD_MASS__KG_)
0             2534.666667

### Task 5

##### List the date when the first successful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [30]:
pysqldf("select min(Date) from df where Landing_Outcome='Success'")

    min(Date)
0  02-03-2019

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [39]:
pysqldf("select * from df where Mission_Outcome='Success' and PAYLOAD_MASS__KG_ between 4000 and 6000")

,Date,Time_(UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,05-08-2014,08:00:00,F9 v1.1,CCAFS LC-40,AsiaSat 8,4535,GTO,AsiaSat,Success,No attempt
1,07-09-2014,05:00:00,F9 v1.1 B1011,CCAFS LC-40,AsiaSat 6,4428,GTO,AsiaSat,Success,No attempt
2,02-03-2015,03:50:00,F9 v1.1 B1014,CCAFS LC-40,ABS-3A Eutelsat 115 West B,4159,GTO,ABS Eutelsat,Success,No attempt
3,27-04-2015,23:03:00,F9 v1.1 B1016,CCAFS LC-40,Turkmen 52 / MonacoSAT,4707,GTO,Turkmenistan National Space Agency,Success,No attempt
4,04-03-2016,23:35:00,F9 FT B1020,CCAFS LC-40,SES-9,5271,GTO,SES,Success,Failure (drone ship)
5,06-05-2016,05:21:00,F9 FT B1022,CCAFS LC-40,JCSAT-14,4696,GTO,SKY Perfect JSAT Group,Success,Success (drone ship)
6,14-08-2016,05:26:00,F9 FT B1026,CCAFS LC-40,JCSAT-16,4600,GTO,SKY Perfect JSAT Group,Success,Success (drone ship)
7,16-03-2017,06:00:00,F9 FT B1030,KSC LC-39A,EchoStar 23,5600,GTO,EchoStar,Success,No attempt
8,30-03-2017,22:27:00,F9 FT B1021.2,KSC LC-39A,SES-10,5300,GTO,SES,Success,Success (drone ship)
9,01-05-2017,11:15:00,F9 FT B1032.1,KSC LC-39A,NROL-76,5300,LEO,NRO,Success,Success (ground pad)
10,07-09-2017,14:00:00,F9 B4 B1040.1,KSC LC-39A,Boeing X-37B OTV-5,4990,LEO,U.S. Air Force,Success,Success (ground pad)
11,11-10-2017,22:53:00,F9 FT B1031.2,KSC LC-39A,SES-11 / EchoStar 105,5200,GTO,SES EchoStar,Success,Success (drone ship)
12,31-01-2018,21:25:00,F9 FT B1032.2,CCAFS SLC-40,GovSat-1 / SES-16,4230,GTO,SES,Success,Controlled (ocean)
13,04-06-2018,04:45:00,F9 B4 B1040.2,CCAFS SLC-40,SES-12,5384,GTO,SES,Success,No attempt
14,07-08-2018,05:18:00,F9 B5 B1046.2,CCAFS SLC-40,Merah Putih,5800,GTO,Telkom Indonesia,Success,Success
15,15-11-2018,20:46:00,F9 B5 B1047.2,KSC LC-39A,Es hail 2,5300,GTO,Es hailSat,Success,Success
16,03-12-2018,18:34:05,F9 B5 B1046.3,VAFB SLC-4E,SSO-A,4000,SSO,Spaceflight Industries,Success,Success
17,22-02-2019,01:45:00,F9 B5 B1048.3,CCAFS SLC-40,"Nusantara Satu, Beresheet Moon lander, S5",4850,GTO,"PSN, SpaceIL / IAI",Success,Success
18,12-06-2019,14:17:00,F9 B5 B1051.2,VAFB SLC-4E,"RADARSAT Constellation, SpaceX CRS-18",4200,SSO,Canadian Space Agency (CSA),Success,Success
19,30-06-2020,20:10:46,F9 B5B1060.1,CCAFS SLC-40,"GPS III-03, ANASIS-II",4311,MEO,U.S. Space Force,Success,Success
20,20-07-2020,21:30:00,F9 B5 B1058.2,CCAFS SLC-40,"ANASIS-II, Starlink 9 v1.0",5500,GTO,"Republic of Korea Army, Spaceflight Industries...",Success,Success
21,05-11-2020,23:24:23,F9 B5B1062.1,CCAFS SLC-40,"GPS III-04 , Crew-1",4311,MEO,USSF,Success,Success

### Task 7




##### List the total number of successful and failure mission outcomes

In [41]:
pysqldf("select Mission_Outcome, count(Mission_Outcome) from df group by Mission_outcome")

              trim(Mission_Outcome)  count(Mission_Outcome)
0               Failure (in flight)                       1
1                           Success                      98
2                           Success                       1
3  Success (payload status unclear)                       1

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [45]:
pysqldf("select distinct Booster_Version from df where PAYLOAD_MASS__KG_ = (select max(PAYLOAD_MASS__KG_) from df)")

   Booster_Version
0    F9 B5 B1048.4
1    F9 B5 B1049.4
2    F9 B5 B1051.3
3    F9 B5 B1056.4
4    F9 B5 B1048.5
5    F9 B5 B1051.4
6    F9 B5 B1049.5
7   F9 B5 B1060.2
8   F9 B5 B1058.3
9    F9 B5 B1051.6
10   F9 B5 B1060.3
11  F9 B5 B1049.7

### Task 9


##### List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

In [47]:
df.dtypes

Date                 object
Time_(UTC)           object
Booster_Version      object
Launch_Site          object
Payload              object
PAYLOAD_MASS__KG_     int64
Orbit                object
Customer             object
Mission_Outcome      object
Landing_Outcome      object
dtype: object

In [48]:
pd.to_datetime(df['Date'])

C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '22-05-2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])
C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '29-09-2013' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])
C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '18-04-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])
C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '14-07-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])
C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '21-09-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])
C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '14-04-2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])
C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '27-04-2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])
C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '28-06-2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])
C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '22-12-2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])
C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '17-01-2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])
C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '27-05-2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])
C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '15-06-2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])
C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '18-07-2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])
C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '14-08-2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])
C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '14-01-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])
C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '19-02-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])
C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '16-03-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])
C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '30-03-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])
C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '15-05-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])
C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '23-06-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])
C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '25-06-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])
C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '14-08-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])
C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '24-08-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])
C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '30-10-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])
C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '15-12-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])
C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '23-12-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])
C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '31-01-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])
C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '22-02-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])
C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '30-03-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])
C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '18-04-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])
C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '22-05-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])
C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '29-06-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])
C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '22-07-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])
C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '25-07-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])
C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '15-11-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])
C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '23-12-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])
C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '22-02-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])
C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '24-05-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])
C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '25-07-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])
C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '17-12-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])
C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '19-01-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])
C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '29-01-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])
C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '17-02-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])
C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '18-03-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])
C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '22-04-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])
C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '30-05-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])
C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '13-06-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])
C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '30-06-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])
C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '20-07-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])
C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '18-08-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])
C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '30-08-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])
C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '18-10-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])
C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '24-10-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])
C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '16-11-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])
C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '21-11-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])
C:\Users\RonakNandanwar\AppData\Local\Temp\ipykernel_24272\524101355.py:1: UserWarning: Parsing '25-11-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime(df['Date'])

0     2010-04-06
1     2010-08-12
2     2012-05-22
3     2012-08-10
4     2013-01-03
         ...
96    2020-05-11
97    2020-11-16
98    2020-11-21
99    2020-11-25
100   2020-06-12
Name: Date, Length: 101, dtype: datetime64[ns]

In [50]:
pysqldf("select Booster_Version,Launch_Site from df where Landing_Outcome like 'Fail%' and Date between '01-01-2015' and '31-12-2015'")

  Booster_Version   Launch_Site
0  F9 v1.0  B0003   CCAFS LC-40
1  F9 v1.0  B0004   CCAFS LC-40
2   F9 v1.1 B1012   CCAFS LC-40
3   F9 v1.1 B1015   CCAFS LC-40
4   F9 v1.1 B1017   VAFB SLC-4E
5     F9 FT B1020   CCAFS LC-40
6     F9 FT B1024   CCAFS LC-40
7      F9 B5B1050  CCAFS SLC-40
8   F9 B5 B1056.4  CCAFS SLC-40
9   F9 B5 B1048.5    KSC LC-39A

### Task 10

##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [60]:
pysqldf("select Landing_Outcome,count(Landing_Outcome),rank() over (order by count(*) desc) from df where Landing_Outcome in ('Failure (drone ship)','Success (ground pad)') and date between '04-06-2010' and '20-03-2017' group by Landing_Outcome")

,Landing_Outcome,count(Landing_Outcome),rank() over (order by count(*) desc)
0,Success (ground pad),6,1
1,Failure (drone ship),4,2

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-10-12 | 0.4 |Lakshmi Holla | Changed markdown|
| 2021-08-24 | 0.3 |Lakshmi Holla | Added library update|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>